
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>项目管理</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">项目管理</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">信息收集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('chart') }}">图表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('calendar') }}">日历</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('gantt') }}">甘特图</a>
                </li>
                <li class="nav-item"></li>
                    <a class="nav-link" href="{{ url_for('value') }}">业务价值分配</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
