{% extends "base_template.html" %}

{% block content %}
<div class="container mt-4">
    <h2>业务价值分配</h2>
    <form action="/value" method="post">
        <div class="row">
            {% for business in ['业务1', '业务2', '业务3', '业务4', '其他'] %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        {{ business }}
                    </div>
                    <div class="card-body">
                        {% for value in ['价值1', '价值2', '价值3'] %}
                        <div class="form-group">
                            <label for="{{ business }}-{{ value }}">{{ value }}</label>
                            <input type="number" class="form-control" id="{{ business }}-{{ value }}" name="{{ business }}-{{ value }}" min="0" max="100" step="0.1">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">更新价值分配</button>
        </div>
    </form>
</div>
{% endblock %}
